@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  /* Colors */
  --dark-gray: #242822;
  --light-green: #DAF2E2;
  --primary-green: #41B665;
  --deep-green: #139c3c;


  /* Sizes */
  --size-50: .5rem;
  --size-100: .8rem;
  --size-200: 1rem;
  --size-250: 1.15rem;
  --size-300: 1.25rem;
  --size-400: 1.5rem;
  --size-500: 1.75rem;
  --size-600: 2rem;
  --size-700: 2.5rem;
  --size-800: 3rem;
  --size-900: 5rem;


  /* FONT WEIGHT */
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 600;
  --fw-black: 900;
}

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  transition: all 300ms;
}


/* OPACITY */
.op-0{
  opacity: 0;
}
.op-100{
  opacity: .8;
}
.op-200{
  opacity: .7;
}


/* FONT WEIGHT */
.fw-thin{
  font-weight: var(--fw-thin);
}
.fw-regular{
  font-weight: var(--fw-regular);
}
.fw-semi-bold{
  font-weight: var(--fw-semi-bold);
}
.fw-bold{
  font-weight: var(--fw-bold);
}
.fw-black{
  font-weight: var(--fw-black);
}


.fs-50{
  font-size: var(--size-50);
}
.fs-100{
  font-size: var(--size-100);
}
.fs-200{
  font-size: var(--size-200);
}
.fs-250{
  font-size: var(--size-250);
}
.fs-300{
  font-size: var(--size-300);
}
.fs-400{
  font-size: var(--size-400);
}
.fs-500{
  font-size: var(--size-500);
}
.fs-600{
  font-size: var(--size-600);
}
.fs-700{
  font-size: var(--size-700);
}
.fs-800{
  font-size: var(--size-800);
}
.fs-900{
  font-size: var(--size-900);
}


/* PADDING BLOCK */
.padding-block-50{
  padding-block: var(--size-50);
}
.padding-block-100{
  padding-block: var(--size-100);
}
.padding-block-200{
  padding-block: var(--size-200);
}
.padding-block-300{
  padding-block: var(--size-300);
}
.padding-block-400{
  padding-block: var(--size-400);
}


/* MARGIN BLOCK */
.margin-block-50{
  margin-block: var(--size-50);
}
.margin-block-100{
  margin-block: var(--size-100);
}
.margin-block-200{
  margin-block: var(--size-200);
}
.margin-block-30{
  margin-block: var(--size-300);
}
.margin-block-400{
  margin-block: var(--size-400);
}
.margin-block-500{
  margin-block: var(--size-500);
}
.margin-block-600{
  margin-block: var(--size-600);
}
.margin-block-700{
  margin-block: var(--size-700);
}
.margin-block-800{
  margin-block: var(--size-800);
}
.margin-block-900{
  margin-block: var(--size-900);
}




.button{
  cursor: pointer;
  font-size: var(--size-200);
  text-decoration: none;
  line-height: 1;
  transition: all 300ms;
  padding: 10px 20px;
  border-radius: 10px;
}

[data-type = "cl-white"]{
  color: white;
  background-color: var(--primary-green);
  border: 1px solid var(--primary-green);
}

[data-type = "cl-white"]:hover{
  background-color: var(--deep-green);
}

[data-type = "cl-green"]{
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
}

[data-type = "cl-green"]:hover{
  color: white;
  background-color: var(--primary-green);
}


.section-margin{
  margin: 0 10px;
}

.section-title{
  width: min(750px, 85%);
  margin-inline: auto;
  text-align: center;
}

@media screen and (min-width: 650px) {
  .section-margin{
    margin: 0 4rem;
  }
}